.button-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-left: 0 5px;
}

.field-seed {
  width: 199px;
  height: 40px;
  background-color: #ffffff;
  color: #a7a7a7;
  text-align: center;
  border-radius: 5px;
}

.field-seed h6 {
  font-size: 14px;
}

.field-seed p {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  text-align: justify;
}

.btn-icon {
  background: #00285f;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: justify;
}

@media (min-width: 576px) {
  .field-seed {
    position: relative;
    width: 320px;
  }

  .field-seed p {
    position: relative;
    text-align: left;
  }

  .btn-icon {
    width: 174px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .button-container {
    width: 536px;
  }

  .field-seed {
    width: 516px;
  }
}

@media (min-width: 992px) {
  .button-container {
    width: 940px;
  }
  
  .field-seed {
    margin-left: 94px;
    width: 584px;
  }
}
